.whyToChose {
    background-image: url(../../assets/bgWhy.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 400px;
    background-color: #EAEEF2;

}

.naslovWhy {
    text-align: center;
    padding-top: 70px;
    margin-bottom: 50px;
    font-size: 30px;
}

.squares {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.square {
    width: 223.72px;
    height: 161.27px;
    border-radius: 25px;
    text-align: center;
    background-color: #ffffff;
   
}
.square>h3 {
    font-weight: 900;
font-size: 20px;

}

.iconsWhy {
    background-color: #EAEEF2;
    width: 41.37px;
    height: 30.14px;
   
}