.whyToChose {
    padding-left: -20%;
    padding-right: -20%;
  
    background-color: #c9d2e6;
    position: relative;
    z-index: 0;

}

.imgBg {

    opacity: 20%;
    position: absolute;

    top: -190px;
    width: 100%;
    height: auto;

    z-index: -1;
}

.naslovWhy {
    text-align: center;
    padding-top: 90px;
    
    font-size: 30px;

}

.squares {
    display: flex;
    justify-content: center;
   
   
}

.square {
    width: 15%;
    height: auto;
    border-radius: 25px;
    text-align: center;
    background-color: rgba(255, 255, 255, );
    margin-right: 2%;
    margin-left: 2%;
    transition: box-shadow 500ms ease, color 10ms ease-in-out;
}

.square:hover {
    background: linear-gradient(47.45deg, #6B33B2 0.11%, #E527BD 99.94%);
    color: #EAEEF2;
    cursor: pointer;
    
    box-shadow: 0 6px 20px 0 rgb(134 51 153 / 51%);
}

.about {
    display:none;
}

.actives {
    display:block;
    
}

.shapes {
    display: flex;
    justify-content: center;
}

.shape {
    width: 30px;
    height: 10px;
    margin-bottom:50px; 
    background: linear-gradient(90deg, rgba(99, 44, 135, 0.7) 0%, rgba(241, 42, 205, 0.7) 100%);
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
border-radius: 20px;
transform: matrix(1, 0, 0, -1, 0, 0);
}



.square>h3 {
    font-weight: 900;
    font-size: 120%;

}

.square>p {
    
    margin-bottom: 10px;
}

.iconsWhy {
    background-color: #98a8cd45;
    margin-top: 8%;
    margin-bottom: 8%;
    width: 40%;
    height: auto;
    border-radius: 25px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;

}



@media screen and (max-width:600px) {
    .squares {
        display: block;
        
        margin-left: auto;

    }

    .square {
        margin-top: 30px;
        width: 200px;
        margin-left: 130px;
    }

    .imgBg {
       width: 120%;
        margin-top: 350px;
        
        transform: rotate(90deg);
    }

    .square>h3{
        font-size: 90%;
        
    }

    .iconsWhy {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 5%;
        padding-right: 5%;
    }
}




.about>b {
    background-image: linear-gradient(47.45deg, #6B33B2 0.11%, #E527BD 99.94%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.abouts {
   
    width: 100%;
    height: 300px;
}