

.header {
  background-image: url(../../assets/headerBackground.jfif);
  position: relative;
z-index: 1;
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 100px;
  background-color: #c9d2e6;
  height: 100vh;
 
}

.naslov {
  height: 50%;
  border: 1px solid black;
display:flex;
margin-top: 10%;
justify-content: center;
}

.brand {


  font-weight: 800;
  font-size: 96px;
  line-height: 70px;
  /* identical to box height, or 104% */
  text-align: center;
  letter-spacing: -2px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

@media screen and (max-width: 600px) {
 .brand {
  font-size: 66px;
  margin-top: 100px;
 }

 .header {
  background-size: 170%;
  background-color: #c9d2e6;
 }


}


.dev {
  color: white;
  text-align: center;
  font-weight: 800;
  font-size: 34px;
  margin-bottom: 79px;
}

.paragraf {
  color: #FFFFFF;
  font-size: medium;
  text-align: center;
  font-size:18px;
  margin-left: 10%;
  margin-right: 10%;
}





