.navbar {
  font-size: 20px;
  min-height: 6vh;
color: white;
  transition: all .7s ease-in;
 
  
}

@media screen and (max-width: 750px) {
  .navbar {
   margin-right: 5%;
   margin-left: 5%;
  }
 }

//IMPORTANT
.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: lightblue;
}

.logo {
width: 50px;
height: 50px;
margin-top: 10px;
}

.nav-link{
  margin-right: 30px;
  
}